
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background: #f5f7fa;
text-align: center;
}
header {
background: #e0e3e7;
padding: 20px;
color: #fff;
font-size: 22px;
font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: #222;
}

.btn-cta {
  background: #4a90e2;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
}


.hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;

}

.hamburger span {
  width: 30px;
  height: 4px;
  background: black;
  display: block;
  border-radius: 5px;
  
}
h1,h2{
  color: #1057a8;
}
div .ins{
  border: none;
  background: #4a90e2;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
}

   .choix {
    display: flex;
    align-items: center;
    justify-content: center;
   
    
  }
  .choix div {
border: #e0e3e7;
 margin: 20px;
    padding: 20px;
  }
  .choix button{
    border: #e0e3e7;
    background-color:#f5f7fa;
    cursor: pointer;
  }